<table class='gmisc_table' style='border-collapse: collapse; margin-top: 1em; margin-bottom: 1em;' >
<thead>
<tr>
<th style='border-bottom: 1px solid grey; border-top: 2px solid grey;'> </th>
<th style='border-bottom: 1px solid grey; border-top: 2px solid grey; text-align: center;'>Yes</th>
<th style='border-bottom: 1px solid grey; border-top: 2px solid grey; text-align: center;'>No</th>
<th style='border-bottom: 1px solid grey; border-top: 2px solid grey; text-align: center;'>Borderline</th>
</tr>
</thead>
<tbody> 
<tr><td colspan='4' style=''>Glycohemoglobin (%)</td></tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Mean (SD)</td>
<td style='text-align: center;'>7.6 (1.9)</td>
<td style='text-align: center;'>5.5 (0.6)</td>
<td style='text-align: center;'>6 (0.7)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Median (IQR)</td>
<td style='text-align: center;'>7.1 (6.2, 8.4)</td>
<td style='text-align: center;'>5.4 (5.2, 5.7)</td>
<td style='text-align: center;'>5.9 (5.7, 6.3)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Min, Max</td>
<td style='text-align: center;'>4.5, 17</td>
<td style='text-align: center;'>3.8, 13.7</td>
<td style='text-align: center;'>4.7, 8.9</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;N</td>
<td style='text-align: center;'>813</td>
<td style='text-align: center;'>5792</td>
<td style='text-align: center;'>135</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Missing</td>
<td style='text-align: center;'>22 (2.71%)</td>
<td style='text-align: center;'>389 (6.72%)</td>
<td style='text-align: center;'>7 (5.19%)</td>
</tr> 
<tr><td colspan='4' style=''>Taking insulin now</td></tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Yes</td>
<td style='text-align: center;'>242 (29.8%)</td>
<td style='text-align: center;'>3 (0.1%)</td>
<td style='text-align: center;'>0 (0.0%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;No</td>
<td style='text-align: center;'>570 (70.1%)</td>
<td style='text-align: center;'>5,787 (99.9%)</td>
<td style='text-align: center;'>135 (100.0%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Missing</td>
<td style='text-align: center;'>1 (0.1%)</td>
<td style='text-align: center;'>2 (0.0%)</td>
<td style='text-align: center;'>0 (0.0%)</td>
</tr> 
<tr><td colspan='4' style=''>Gender</td></tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Male</td>
<td style='text-align: center;'>440 (54.1%)</td>
<td style='text-align: center;'>2,774 (47.9%)</td>
<td style='text-align: center;'>57 (42.2%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Female</td>
<td style='text-align: center;'>373 (45.9%)</td>
<td style='text-align: center;'>3,018 (52.1%)</td>
<td style='text-align: center;'>78 (57.8%)</td>
</tr> 
<tr><td colspan='4' style=''>Age in years at screening</td></tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Mean (SD)</td>
<td style='text-align: center;'>60.8 (13.8)</td>
<td style='text-align: center;'>40.2 (20.3)</td>
<td style='text-align: center;'>56.8 (18)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Median (IQR)</td>
<td style='text-align: center;'>63 (52, 71)</td>
<td style='text-align: center;'>37 (22, 56)</td>
<td style='text-align: center;'>59 (47.5, 70)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Min, Max</td>
<td style='text-align: center;'>14, 80</td>
<td style='text-align: center;'>12, 80</td>
<td style='text-align: center;'>12, 80</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;N</td>
<td style='text-align: center;'>813</td>
<td style='text-align: center;'>5792</td>
<td style='text-align: center;'>135</td>
</tr> 
<tr><td colspan='4' style=''>Race</td></tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Mexican American</td>
<td style='text-align: center;'>193 (23.7%)</td>
<td style='text-align: center;'>1,015 (17.5%)</td>
<td style='text-align: center;'>20 (14.8%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Other Hispanic</td>
<td style='text-align: center;'>117 (14.4%)</td>
<td style='text-align: center;'>741 (12.8%)</td>
<td style='text-align: center;'>16 (11.9%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Non-Hispanic White</td>
<td style='text-align: center;'>212 (26.1%)</td>
<td style='text-align: center;'>1,875 (32.4%)</td>
<td style='text-align: center;'>40 (29.6%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Non-Hispanic Black</td>
<td style='text-align: center;'>192 (23.6%)</td>
<td style='text-align: center;'>1,218 (21.0%)</td>
<td style='text-align: center;'>41 (30.4%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Non-Hispanic Asian</td>
<td style='text-align: center;'>72 (8.9%)</td>
<td style='text-align: center;'>700 (12.1%)</td>
<td style='text-align: center;'>13 (9.6%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Other Race - Including Multi-Racial</td>
<td style='text-align: center;'>27 (3.3%)</td>
<td style='text-align: center;'>243 (4.2%)</td>
<td style='text-align: center;'>5 (3.7%)</td>
</tr> 
<tr><td colspan='4' style=''>Served active duty in US Armed Forces</td></tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Yes</td>
<td style='text-align: center;'>126 (15.5%)</td>
<td style='text-align: center;'>368 (6.4%)</td>
<td style='text-align: center;'>13 (9.6%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;No</td>
<td style='text-align: center;'>684 (84.1%)</td>
<td style='text-align: center;'>4,576 (79.0%)</td>
<td style='text-align: center;'>116 (85.9%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Missing</td>
<td style='text-align: center;'>3 (0.4%)</td>
<td style='text-align: center;'>848 (14.6%)</td>
<td style='text-align: center;'>6 (4.4%)</td>
</tr> 
<tr><td colspan='4' style=''>Country of birth</td></tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Born in 50 US states or Washington, DC</td>
<td style='text-align: center;'>539 (66.3%)</td>
<td style='text-align: center;'>4,083 (70.5%)</td>
<td style='text-align: center;'>104 (77.0%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Others</td>
<td style='text-align: center;'>274 (33.7%)</td>
<td style='text-align: center;'>1,707 (29.5%)</td>
<td style='text-align: center;'>31 (23.0%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Missing</td>
<td style='text-align: center;'>0 (0.0%)</td>
<td style='text-align: center;'>2 (0.0%)</td>
<td style='text-align: center;'>0 (0.0%)</td>
</tr> 
<tr><td colspan='4' style=''>Length of time in US</td></tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;<1year</td>
<td style='text-align: center;'>4 (0.5%)</td>
<td style='text-align: center;'>72 (1.2%)</td>
<td style='text-align: center;'>0 (0.0%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;1<=year<5</td>
<td style='text-align: center;'>11 (1.4%)</td>
<td style='text-align: center;'>203 (3.5%)</td>
<td style='text-align: center;'>0 (0.0%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;5<=year<10</td>
<td style='text-align: center;'>11 (1.4%)</td>
<td style='text-align: center;'>222 (3.8%)</td>
<td style='text-align: center;'>2 (1.5%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;10<=year<15</td>
<td style='text-align: center;'>21 (2.6%)</td>
<td style='text-align: center;'>247 (4.3%)</td>
<td style='text-align: center;'>0 (0.0%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;15<=year<20</td>
<td style='text-align: center;'>26 (3.2%)</td>
<td style='text-align: center;'>204 (3.5%)</td>
<td style='text-align: center;'>2 (1.5%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;20<=year<30</td>
<td style='text-align: center;'>53 (6.5%)</td>
<td style='text-align: center;'>300 (5.2%)</td>
<td style='text-align: center;'>4 (3.0%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;30<=year<40</td>
<td style='text-align: center;'>43 (5.3%)</td>
<td style='text-align: center;'>101 (1.7%)</td>
<td style='text-align: center;'>7 (5.2%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;40<=year<50</td>
<td style='text-align: center;'>3 (0.4%)</td>
<td style='text-align: center;'>34 (0.6%)</td>
<td style='text-align: center;'>0 (0.0%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;>50year</td>
<td style='text-align: center;'>7 (0.9%)</td>
<td style='text-align: center;'>41 (0.7%)</td>
<td style='text-align: center;'>2 (1.5%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Missing</td>
<td style='text-align: center;'>634 (78.0%)</td>
<td style='text-align: center;'>4,368 (75.4%)</td>
<td style='text-align: center;'>118 (87.4%)</td>
</tr> 
<tr><td colspan='4' style=''>Education level</td></tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Less than 9th grade</td>
<td style='text-align: center;'>151 (18.6%)</td>
<td style='text-align: center;'>491 (8.5%)</td>
<td style='text-align: center;'>12 (8.9%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;9-11th grade (Includes 12th grade with no diploma)</td>
<td style='text-align: center;'>114 (14.0%)</td>
<td style='text-align: center;'>507 (8.8%)</td>
<td style='text-align: center;'>22 (16.3%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;High school graduate/GED or equivalent</td>
<td style='text-align: center;'>177 (21.8%)</td>
<td style='text-align: center;'>988 (17.1%)</td>
<td style='text-align: center;'>20 (14.8%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Some college or AA degree</td>
<td style='text-align: center;'>222 (27.3%)</td>
<td style='text-align: center;'>1,362 (23.5%)</td>
<td style='text-align: center;'>37 (27.4%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;College graduate or above</td>
<td style='text-align: center;'>143 (17.6%)</td>
<td style='text-align: center;'>1,189 (20.5%)</td>
<td style='text-align: center;'>33 (24.4%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Missing</td>
<td style='text-align: center;'>6 (0.7%)</td>
<td style='text-align: center;'>1,255 (21.7%)</td>
<td style='text-align: center;'>11 (8.1%)</td>
</tr> 
<tr><td colspan='4' style=''>Marital status</td></tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Married</td>
<td style='text-align: center;'>454 (55.8%)</td>
<td style='text-align: center;'>2,270 (39.2%)</td>
<td style='text-align: center;'>55 (40.7%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Widowed</td>
<td style='text-align: center;'>91 (11.2%)</td>
<td style='text-align: center;'>295 (5.1%)</td>
<td style='text-align: center;'>10 (7.4%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Divorced</td>
<td style='text-align: center;'>102 (12.5%)</td>
<td style='text-align: center;'>449 (7.8%)</td>
<td style='text-align: center;'>27 (20.0%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Separated</td>
<td style='text-align: center;'>28 (3.4%)</td>
<td style='text-align: center;'>150 (2.6%)</td>
<td style='text-align: center;'>8 (5.9%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Never married</td>
<td style='text-align: center;'>80 (9.8%)</td>
<td style='text-align: center;'>908 (15.7%)</td>
<td style='text-align: center;'>16 (11.9%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Living with partner</td>
<td style='text-align: center;'>53 (6.5%)</td>
<td style='text-align: center;'>465 (8.0%)</td>
<td style='text-align: center;'>8 (5.9%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Missing</td>
<td style='text-align: center;'>5 (0.6%)</td>
<td style='text-align: center;'>1,255 (21.7%)</td>
<td style='text-align: center;'>11 (8.1%)</td>
</tr> 
<tr><td colspan='4' style=''>Annual household income</td></tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;$ 0 to $ 4999</td>
<td style='text-align: center;'>21 (2.6%)</td>
<td style='text-align: center;'>123 (2.1%)</td>
<td style='text-align: center;'>5 (3.7%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;$ 5000 to $ 9999</td>
<td style='text-align: center;'>51 (6.3%)</td>
<td style='text-align: center;'>181 (3.1%)</td>
<td style='text-align: center;'>7 (5.2%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;$ 10000 to $ 14999</td>
<td style='text-align: center;'>79 (9.7%)</td>
<td style='text-align: center;'>293 (5.1%)</td>
<td style='text-align: center;'>11 (8.1%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;$ 15000 to $ 19999</td>
<td style='text-align: center;'>56 (6.9%)</td>
<td style='text-align: center;'>342 (5.9%)</td>
<td style='text-align: center;'>9 (6.7%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;$ 20000 to $ 24999</td>
<td style='text-align: center;'>65 (8.0%)</td>
<td style='text-align: center;'>329 (5.7%)</td>
<td style='text-align: center;'>11 (8.1%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;$ 25000 to $ 34999</td>
<td style='text-align: center;'>84 (10.3%)</td>
<td style='text-align: center;'>634 (10.9%)</td>
<td style='text-align: center;'>10 (7.4%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;$ 35000 to $ 44999</td>
<td style='text-align: center;'>73 (9.0%)</td>
<td style='text-align: center;'>568 (9.8%)</td>
<td style='text-align: center;'>7 (5.2%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;$ 45000 to $ 54999</td>
<td style='text-align: center;'>64 (7.9%)</td>
<td style='text-align: center;'>483 (8.3%)</td>
<td style='text-align: center;'>9 (6.7%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;$ 55000 to $ 64999</td>
<td style='text-align: center;'>48 (5.9%)</td>
<td style='text-align: center;'>351 (6.1%)</td>
<td style='text-align: center;'>14 (10.4%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;$ 65000 to $ 74999</td>
<td style='text-align: center;'>35 (4.3%)</td>
<td style='text-align: center;'>294 (5.1%)</td>
<td style='text-align: center;'>6 (4.4%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;$20000 and Over</td>
<td style='text-align: center;'>25 (3.1%)</td>
<td style='text-align: center;'>171 (3.0%)</td>
<td style='text-align: center;'>4 (3.0%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Under $20000</td>
<td style='text-align: center;'>11 (1.4%)</td>
<td style='text-align: center;'>88 (1.5%)</td>
<td style='text-align: center;'>3 (2.2%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;$75000 to $99999</td>
<td style='text-align: center;'>50 (6.2%)</td>
<td style='text-align: center;'>564 (9.7%)</td>
<td style='text-align: center;'>12 (8.9%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;$100000 and Over</td>
<td style='text-align: center;'>89 (10.9%)</td>
<td style='text-align: center;'>988 (17.1%)</td>
<td style='text-align: center;'>15 (11.1%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Missing</td>
<td style='text-align: center;'>62 (7.6%)</td>
<td style='text-align: center;'>383 (6.6%)</td>
<td style='text-align: center;'>12 (8.9%)</td>
</tr> 
<tr><td colspan='4' style=''>Citizenship status</td></tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Citizen by birth or naturalization</td>
<td style='text-align: center;'>704 (86.6%)</td>
<td style='text-align: center;'>4,846 (83.7%)</td>
<td style='text-align: center;'>127 (94.1%)</td>
</tr>
<tr>
<td style='text-align: left;'>&nbsp;&nbsp;Not a citizen of the US</td>
<td style='text-align: center;'>107 (13.2%)</td>
<td style='text-align: center;'>932 (16.1%)</td>
<td style='text-align: center;'>8 (5.9%)</td>
</tr>
<tr>
<td style='border-bottom: 2px solid grey; text-align: left;'>&nbsp;&nbsp;Missing</td>
<td style='border-bottom: 2px solid grey; text-align: center;'>2 (0.2%)</td>
<td style='border-bottom: 2px solid grey; text-align: center;'>14 (0.2%)</td>
<td style='border-bottom: 2px solid grey; text-align: center;'>0 (0.0%)</td>
</tr>
</tbody>
</table>
